.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

.login-box {
    background: #1c1c1c;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.login-box h2 {
    color: #f15b64;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #f15b64;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}